<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>wpk-core</title>
</head>
<body>
  <header class="header__main">
    <a href="https://github.com/WeAreAthlon/frontend-webpack-boilerplate/" target="_blank">
       <h1 class="title">
         Webpack 5 Template Boilerplate
       </h1>
      </a>
  </header>
  <main>
    <div class="container">
      <ul class="main__list">
        <li class="main__item"><a href="#" class="main__link">1</a></li>
        <li class="main__item"><a href="#" class="main__link">2</a></li>
        <li class="main__item"><a href="#" class="main__link">3</a></li>
        <li class="main__item"><a href="#" class="main__link">
          <i class="fa fa-facebook"></i>
        </a></li>
        <li class="main__item"><a href="#" class="main__link">
          <i class="fa fa-youtube"></i>
        </a></li>
      </ul>

      <p class="text spacer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti exercitationem explicabo asperiores deserunt voluptas sequi. Distinctio facere dolores reprehenderit ipsam assumenda. Deleniti at optio quod placeat, expedita atque illo molestias labore inventore consectetur totam distinctio pariatur neque fuga sed itaque?
      </p>
      <button class="btn btn--primary">button primary</button>
      <a href="#" class="btn">button-link</a>

      <img class="spacer" src='https://source.unsplash.com/random/200x200/?gril' alt='image' />
    </div>

  </main>
</body>
</html>