/*
                    VARIABLES
====================================================*/

//================
//  colors:
//================
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$main-c: hsl(0, 0%, 93%);
$hero-c: hsl(47, 100%, 50%);
$link-c: $main-c;
$link-hvr-c: hsl(184, 100%, 49%);

//================
//  backgrounds:
//================
$body-bg-c: hsl(0, 0%, 9%);
$nav-bg-c: transparent;

//===================
//  widths & heights:
//===================
