/*
                    FOOTER
==================================================*/

.footer__main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black;
  padding: 1em 0;
}
